.dietContainer {
  padding: 0 7rem;
}

.dietHeader {
  font-size: 2.5rem;
  padding: 1.5rem 0;
  border-bottom: 3px solid #d7127c;
  border-top: 3px solid #d7127c;
}

.dietContent {
  margin-top: 2rem;
  display: flex;

}

.dietFilters {
  width: 20%
}

.dietFilters a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease-in-out;
}

.dietFilters a.active {
  color: #d7127c;
  text-decoration: underline #d7127c;
}

.dietFilters a:hover {
  color: #d7127c;
}

.dietRecipeResults {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.dietitem {
  width: 100%;
}